
@model BeautySaloon.ViewModels.LoginModel
@{    
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===CSS========================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/TextStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/popup.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">


    <script>
        window.onload = function () {
            document.getElementById('login').style.display = 'block'
        }
    </script>

    <!--===============================================================================================-->
</head>
<body>
    <!-- POPUP -->
    <div id="login" class="modalLogin" style="height: 100%;">

        <form class="modal-content animate" asp-action="Login">
            <div class="imgcontainer">
                <img src="~/Index/images/login.png" class="avatar">
            </div>

            <div class="containerLogin">

                <label>Email</label>
                <input asp-for="Email"  maxlength="100" placeholder="Введите email" required>

                <label>Password</label>
                <input asp-for="Password" type="password" id="Pass" maxlength="100" placeholder="Введите пароль" required>

                <input type="checkbox" onclick="checkLogin()" style="transform: scale(1.4);">
                <span class="Pass">Показать пароль</span>

                <button class="OK" type="submit">Login</button>

            </div>

            <div class="containerLogin" style="background-color:#f1f1f1">
                <a class="cancelbtn" asp-controller="Menu" asp-action="Home">Cancel</a>
                <span class="psw"> <a asp-controller="Account" asp-action="Register">Регистрация</a></span>
                <span class="psw">Forgot <a href="#">password?</a></span>

            </div>
        </form>
    </div>

    <!--===JS===========================================================================-->
    <script src="~/js/site.js"></script>
    <!--===JS===========================================================================-->
    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->


</body>
</html>