@model BeautySaloon.ViewModels.doneWorks

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OrderService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="surMaster" class="control-label"></label>
                <select asp-for="surMaster" class="form-control" asp-items="ViewBag.OrderID"></select>
                <span asp-validation-for="surMaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameMaster" class="control-label"></label>
                <select asp-for="nameMaster" class="form-control" asp-items="ViewBag.ServiceID"></select>
                <span asp-validation-for="nameMaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patroMaster" class="control-label"></label>
                <select asp-for="patroMaster" class="form-control" asp-items="ViewBag.OrderID"></select>
                <span asp-validation-for="patroMaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="service" class="control-label"></label>
                <select asp-for="service" class="form-control" asp-items="ViewBag.ServiceID"></select>
                <span asp-validation-for="service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sum" class="control-label"></label>
                <select asp-for="sum" class="form-control" asp-items="ViewBag.OrderID"></select>
                <span asp-validation-for="sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <select asp-for="date" class="form-control" asp-items="ViewBag.OrderDate"></select>
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sur" class="control-label"></label>
                <select asp-for="sur" class="form-control" asp-items="ViewBag.OrderID"></select>
                <span asp-validation-for="sur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <select asp-for="name" class="form-control" asp-items="ViewBag.ServiceID"></select>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patro" class="control-label"></label>
                <select asp-for="patro" class="form-control" asp-items="ViewBag.ServiceID"></select>
                <span asp-validation-for="patro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
